<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39698007536-1u98b9l225q3sgaa47pq87f6v05dofuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39698007536-1u98b9l225q3sgaa47pq87f6v05dofuu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39698007536-vp7agadrfvr7hiuna4ceasbsa33d3022.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9CIyIDWC-9gcDIXu-FaooR1xFzk5bsoI</string>
	<key>GCM_SENDER_ID</key>
	<string>39698007536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickpuchko.Typer</string>
	<key>PROJECT_ID</key>
	<string>typography-a0e19</string>
	<key>STORAGE_BUCKET</key>
	<string>typography-a0e19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39698007536:ios:738b1c063743d7a8460935</string>
</dict>
</plist>